:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #6d6d6d;
  --color-soft-gray: #c4c4c4;
  --color-blue: #3478f6;
  --color-soft-blue: #82b0f4;
  --color-background: #f0f1f4;

  /* Font size */
  --size-small: 13px;
  --size-regular: 14px;
  --size-large: 18px;

  /* Font weight */
  --weight-regular: 400;
  --weight-semi-bold: 600;
}

body {
  font-family: 'Apple SD Gothic Neo';
  margin: 0;
  cursor: default;
  background-color: var(--color-background);
}

/*
 * Header
 */

.header {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: var(--color-white);
  position: sticky;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 13px 10px;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px 4px;
  gap: 4px;
  border-radius: 30px;
  margin-right: 5px;
}

.category .elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90px;
}

.category span {
  font-size: var(--size-regular);
  font-weight: var(--weight-regular);
}

.category.inactive {
  color: var(--color-gray);
  border: 1px solid var(--color-soft-gray);
}

.category.active {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
}

.category.inactive .search-image {
  content: url(assets/images/ico_search_inactive.png);
}
.category.active .search-image {
  content: url(assets/images/ico_search_active.png);
}
.category.inactive .calendar-image {
  content: url(assets/images/ico_calendar-check_inactive.png);
}
.category.active .calendar-image {
  content: url(assets/images/ico_calendar-check_active.png);
}

/*
 * Footer
 */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  margin: auto;
  gap: 65px;
  position: fixed;
  height: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: var(--color-black);
  border-radius: 20px;
}

.navbar__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  font-weight: var(--weight-semi-bold);
}

.navbar__button.active {
  color: var(--color-white);
}

.navbar__button.inactive {
  color: var(--color-gray);
}

.navbar__button img {
  width: 20px;
  height: 20px;
}

.navbar__button.inactive .home-image {
  content: url(assets/images/btn_home_inactive.png);
}
.navbar__button.active .home-image {
  content: url(assets/images/btn_home_active.png);
}
.navbar__button.inactive .scrap-image {
  content: url(assets/images/btn_scrap_inactive.png);
}
.navbar__button.active .scrap-image {
  content: url(assets/images/btn_scrap_active.png);
}

.navbar__button .button__desc {
  margin-top: 12px;
}

/*
 * Main
 */

.main {
  padding: 15px;
}

/*
 * Article
 */

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 10px 18px;
  margin-bottom: 10px;
}

.headline-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  line-height: 28px;
}

.headline {
  font-size: var(--size-large);
  font-weight: var(--weight-semi-bold);
}

.scraped .star.inactive {
  content: url(assets/images/ico_star_inactive.png);
}
.scraped .star.active {
  content: url(assets/images/ico_star_active.png);
}

.subline-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--size-small);
  line-height: 20px;
}

.subline-box .author {
  color: var(--color-black);
  font-weight: var(--weight-regular);
}

.subline-box .author .newspaper {
  margin-right: 10px;
}

.subline-box .reg-date {
  color: var(--color-gray);
}

/*
 * Popup
 */

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  position: fixed;
  z-index: 2;
  background-color: var(--color-white);
  border-radius: 16px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 360px;
  margin: auto 16px;
}

.popup__content {
  margin-bottom: 8px;
}

.popup__content .title {
  margin-bottom: 7px;
}

.popup__content .input__wrapper {
  border: 1px solid var(--color-soft-gray);
  border-radius: 8px;
  padding: 7px;
  height: 20px;
}

.input__wrapper.calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.calendar__wrapper {
  width: 90%;
}

.calendar__wrapper input {
  width: 100%;
  outline: none;
}

.input__wrapper.calendar .calendar-image.inactive {
  width: 16px;
  height: 16px;
  content: url(assets/images/ico_calendar-check_inactive.png);
}
.input__wrapper.calendar .calendar-image.active {
  width: 16px;
  height: 16px;
  content: url(assets/images/ico_calendar-check_active.png);
}

.input__headline {
  border: none;
  outline: none;
  width: 100%;
}

.input__date {
  border: none;
  width: 100%;
}

.nations .btn__nation {
  font-size: var(--size-regular);
  font-weight: var(--weight-regular);
  margin: 0 6px 6px 0;
  border-radius: 30px;
  padding: 6px 12px 4px;
}

.nations .btn__nation.inactive {
  color: var(--color-gray);
  border: 1px solid var(--color-soft-gray);
  background-color: transparent;
}

.nations .btn__nation.active {
  color: var(--color-white);
  border: 1px solid var(--color-soft-blue);
  background-color: var(--color-soft-blue);
}

.btn__filter {
  color: var(--color-white);
  font-size: var(--size-regular);
  font-weight: var(--weight-semi-bold);
  border: none;
  background-color: var(--color-blue);
  border-radius: 16px;
  padding: 16px;
  margin-top: 30px;
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.loading {
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 389px) {
  .category .elipsis {
    max-width: 84px;
  }

  .category span {
    font-size: var(--size-small);
  }
}
