@font-face {
  @font-face {
    font-family: 'Apple SD Gothic Neo';
    src: url('./fonts/AppleSDGothicNeo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

body {
  font-family: 'Apple SD Gothic Neo', sans-serif;
}
